# 2. IGNORAR DIRECTORIOS TEMPORALES DE BUILD
.vs/
out/
build/
bin/
lib/
Libs/
x64/
Debug/
Release/

# 3. IGNORAR ARCHIVOS INTERMEDIOS DE MSVC
*.obj
*.pdb
*.ilk
*.aps
*.ncb
*.opensdf
*.sdf
*.cache
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.res
*.pch
*.suo

# 4. REGLA ESPECIAL PARA TUS ZIPS DE DISTRIBUCIÓN
# Bloqueamos todos los zips pero permitimos los de la carpeta Dist
*.zip
!/Dist/*.zip